<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApDIom6LPxUeotwZW0rtLW5a9jKx0nzx4</string>
	<key>GCM_SENDER_ID</key>
	<string>3235098823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFlutter</string>
	<key>PROJECT_ID</key>
	<string>projectflutter-15fe4</string>
	<key>STORAGE_BUCKET</key>
	<string>projectflutter-15fe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3235098823:ios:6590713e03be150e4ccee2</string>
</dict>
</plist>